.dmodal.open {
   .modal-window {
      transform: translateY(100px);
   }
}

.modal {

   &-window {
      background-color: #fff;
      max-height: 70vh;
      overflow-y: auto;
   }

   &-header {
      padding: 10px 15px;
   }

   &-footer {
      padding: 10px 15px;

      .btn {
         margin-right: 10px;

         &:last-child {
            margin-right: 0;
         }
      }
   }

   &-order {
      margin-bottom: 15px;
      display: flex;
      font-size: 1.5em;
      line-height: 1.5;

      &-title {
         display: flex;
         flex-direction: column;
         margin-right: 10px;
      }

      &-info {
         display: flex;
         flex-direction: column;
         font-weight: 700;
      }
   }

   &-price-block {
      margin-top: 15px;
      font-size: 1.1em;

      & > span {
         display: flex;
         align-items: center;
         justify-content: flex-end;
      }
   }

   &-price {
      font-size: 1.3em;
      font-weight: 700;
      margin-left: 10px;
   }
}