@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Ubuntu&display=swap');
@import "smart-grid";

@include reset();

$bgBody:#f1f4f6; // основной фон админки
$bgHeader:#F2F2F2; // фон для шапки
$colorHeader:#1F2833; // цвет текста для шапки
$bgMenu:#1F2833; //фон для основного меню слева
$colorMenu:#d0d0d0; //цвет для основного меню слева
$bgCardElement:#fff; // цвет для карточек с элементами
$titleColor:#495057; //основной цвет для заголовков


$bgHomeButton:#fff; //кнопки на главной странице

$basicButtonColor:#3f6ad8;
$standartButtonColor:#6c757d;
$backButtonColor:#343a40;
$dangerButtonColor:#d92550;
$successButtonColor:#3ac47d;


$mrt:1%;



* {
    box-sizing: border-box;
}
html{
    height:100%;
}
body{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin:0;
    padding: 0;
}

#wrapper{

    height: 100%;
    background: $bgBody;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@import "adminTop";
@import "adminLeftSide";
@import "adminContent";
@import "adminForms";
@import "tabs";

/*Базовый стайл кнопок*/
.btn{
    text-decoration: none;
    border:none;
    color:#fff;
    padding: 0.8em 2em;
    display: inline-block;
    font-size: 1.1rem;
    background: $standartButtonColor;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background: darken($standartButtonColor,10%);
    }
}

.btn-outline{
    text-decoration: none;
    border:1px solid $standartButtonColor;
    color:$standartButtonColor;
    padding: 0.8em 2em;
    display: inline-block;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        border-color: darken($standartButtonColor,10%);
        color: darken($standartButtonColor,10%);
    }
}

.bg-basic{
    background: $basicButtonColor;
    &:hover{
        background: darken($basicButtonColor,10%);
    }
}

.bg-basic-outline{
    border-color: $basicButtonColor;
    color: $basicButtonColor;
    &:hover{
        border-color: darken($basicButtonColor,10%);
        color: darken($basicButtonColor,10%);
    }
}

.bg-back{
    background: $backButtonColor;
    &:hover{
        background: darken($backButtonColor,10%);
    }
}

.bg-success{
    background: $successButtonColor;
    &:hover{
        background: darken($successButtonColor,10%);
    }
}


/*




@import "adminLists";
*/
