.main.content.info {
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    padding: 1em;
    margin-top:3em;
    margin-bottom: auto;
    color:rgb(27, 27, 27);
    img{
        max-width: 100px;
    }
    h2{
        margin:0;
        color:#032A74;
        font-size: 2rem;
    }
    >div{

        h4{
            color:rgb(17, 57, 133);
        }
    }
}



