@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Ubuntu&display=swap');
@import "smart-grid";
@include reset();
@import "resources/scss/admin/variables";


* {
    box-sizing: border-box;
}
html{
    height:100%;
}
body{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin:0;
    padding: 0;
}

#wrapper{
    height: 100%;
    background: $bgBody;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
